.radio-option input[type="radio"] {
    display: none;
}
.btn-primary {
    background: #43BDD5;
}
.btn-primary:hover {
    background: #369fb4;
}
.wrapper {
     
}

@media screen and (min-width: 1024px) {
    /* .sticky-vehicle {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */
}

@media screen and (min-width: 1280px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1536px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
}